Repository tensorflow/models, pull requests merged in 2021-09, with the labels that each got.

#10226 Fixing critical documentation error
  official/recommendation/ranking/README.md
Labels: cla: yes, models:official, ready to pull

#9916 Fixed deprecated tf.contrib.metrics
  research/attention_ocr/python/metrics.py
Labels: cla: yes, stat:awaiting review

#10072 BASNet implementation
  official/projects/basnet/README.md
  official/projects/basnet/configs/basnet.py
  official/projects/basnet/configs/basnet_test.py
  official/projects/basnet/configs/experiments/basnet_dut_gpu.yaml
  official/projects/basnet/evaluation/metrics.py
  official/projects/basnet/evaluation/metrics_test.py
  official/projects/basnet/losses/basnet_losses.py
  official/projects/basnet/modeling/basnet_model.py
  official/projects/basnet/modeling/basnet_model_test.py
  official/projects/basnet/modeling/nn_blocks.py
  official/projects/basnet/modeling/refunet.py
  official/projects/basnet/serving/basnet.py
  official/projects/basnet/serving/export_saved_model.py
  official/projects/basnet/tasks/basnet.py
  official/projects/basnet/train.py
Labels: cla: yes, models:official, ready to pull

#10223 Fix the order of the input tensors in Centernet Example Notebook
  research/object_detection/colab_tutorials/centernet_on_device.ipynb
Labels: cla: yes, ready to pull, models:research:odapi

#10248 Explicit signatures for tflite. Using ideas from #9688
  research/audioset/yamnet/export.py
Labels: cla: yes, models:research

#10250 Fixes invalid json
  research/slim/nets/mobilenet/mobilenet_example.ipynb
Labels: cla: yes

#10219 Checkin seq_flow_lite
  research/seq_flow_lite/WORKSPACE
  research/seq_flow_lite/demo/colab/BUILD
  research/seq_flow_lite/demo/colab/move_ops.sh
  research/seq_flow_lite/demo/colab/setup.py
  research/seq_flow_lite/demo/prado/prado_tflite_example.cc
  research/seq_flow_lite/export_to_tflite.py
  research/seq_flow_lite/layers/base_layers.py
  research/seq_flow_lite/layers/conv_layers.py
  research/seq_flow_lite/layers/dense_layers.py
  research/seq_flow_lite/layers/projection_layers.py
  research/seq_flow_lite/layers/quantization_layers.py
  research/seq_flow_lite/metric_functions.py
  research/seq_flow_lite/models/prado.py
  research/seq_flow_lite/models/sgnn/BUILD
  research/seq_flow_lite/tf_ops/BUILD
  research/seq_flow_lite/tf_ops/projection_normalizer_util.cc
  research/seq_flow_lite/tf_ops/projection_util.cc
  research/seq_flow_lite/tf_ops/projection_util.h
  research/seq_flow_lite/tf_ops/repo.bzl
  research/seq_flow_lite/tf_ops/sequence_string_projection.cc
  research/seq_flow_lite/tf_ops/sequence_string_projection_op_v2.cc
  research/seq_flow_lite/tf_ops/text_distorter.h
  research/seq_flow_lite/tf_ops/tf_custom_ops.cc
  research/seq_flow_lite/tflite_ops/BUILD
  research/seq_flow_lite/tflite_ops/expected_value.cc
  research/seq_flow_lite/tflite_ops/expected_value.h
  research/seq_flow_lite/tflite_ops/layer_norm.cc
  research/seq_flow_lite/tflite_ops/layer_norm.h
  research/seq_flow_lite/tflite_ops/layer_norm_test.cc
  research/seq_flow_lite/tflite_ops/quantization_util.h
  research/seq_flow_lite/tflite_ops/registerer.cc
  research/seq_flow_lite/tflite_ops/sequence_string_projection.cc
  research/seq_flow_lite/tflite_ops/sequence_string_projection.h
  research/seq_flow_lite/tflite_ops/sequence_string_projection_test.cc
  research/seq_flow_lite/tflite_ops/tf_tflite_diff_test_util.cc
  research/seq_flow_lite/tflite_ops/tf_tflite_diff_test_util.h
  research/seq_flow_lite/trainer_v2.py
  research/seq_flow_lite/utils/tflite_utils.py
Labels: cla: yes, models:research

#10262 Check in seq_flow_lite
  research/seq_flow_lite/colab/BUILD
  research/seq_flow_lite/colab/move_ops.sh
  research/seq_flow_lite/colab/setup.py
  research/seq_flow_lite/colab/setup_workspace.sh
  research/seq_flow_lite/demo/colab/emotion_colab.ipynb
Labels: cla: yes

#10263 YOLO family: Data Processing Functions and Parser
  official/vision/beta/projects/yolo/configs/backbones.py
  official/vision/beta/projects/yolo/configs/darknet_classification.py
  official/vision/beta/projects/yolo/dataloaders/classification_input.py
  official/vision/beta/projects/yolo/dataloaders/classification_tfds_decoder.py
  official/vision/beta/projects/yolo/dataloaders/tf_example_decoder.py
  official/vision/beta/projects/yolo/dataloaders/yolo_detection_input.py
  official/vision/beta/projects/yolo/dataloaders/yolo_detection_input_test.py
  official/vision/beta/projects/yolo/dataloaders/yolo_input.py
  official/vision/beta/projects/yolo/losses/yolo_loss.py
  official/vision/beta/projects/yolo/losses/yolo_loss_test.py
  official/vision/beta/projects/yolo/modeling/backbones/darknet.py
  official/vision/beta/projects/yolo/modeling/decoders/yolo_decoder.py
  official/vision/beta/projects/yolo/modeling/heads/yolo_head.py
  official/vision/beta/projects/yolo/modeling/layers/detection_generator.py
  official/vision/beta/projects/yolo/modeling/layers/detection_generator_test.py
  official/vision/beta/projects/yolo/modeling/layers/nn_blocks.py
  official/vision/beta/projects/yolo/modeling/yolo_model.py
  official/vision/beta/projects/yolo/ops/anchor.py
  official/vision/beta/projects/yolo/ops/loss_utils.py
  official/vision/beta/projects/yolo/ops/mosaic.py
  official/vision/beta/projects/yolo/ops/preprocess_ops.py
  official/vision/beta/projects/yolo/ops/preprocess_ops_test.py
  official/vision/beta/projects/yolo/ops/preprocessing_ops.py
  official/vision/beta/projects/yolo/ops/preprocessing_ops_test.py
  official/vision/beta/projects/yolo/tasks/image_classification.py
Labels: cla: yes, models:official, ready to pull
