Repository tensorflow/models, pull requests merged in 2022-12, with the labels that each got.

#10790 Update Broken link
  research/object_detection/g3doc/using_your_own_dataset.md
Labels: ready to pull, models:research:odapi

#10861 Update checkpoints(ckpts) links to downloadable from CLI
  official/vision/MODEL_GARDEN.md
Labels: type:docs, models:official, ready to pull

#10767 Update install_delf.sh
  research/delf/delf/python/training/install_delf.sh
Labels: models:research
