Repository tensorflow/models, pull requests merged in 2022-11, with the labels that each got.

#10820 Update create_coco_tf_record.py
  official/vision/data/create_coco_tf_record.py
  official/vision/data/tfrecord_lib.py
  official/vision/data/tfrecord_lib_test.py
Labels: models:official, ready to pull

#10817 fffner
  official/projects/fffner/README.md
  official/projects/fffner/experiments/base_conll2003.yaml
  official/projects/fffner/experiments/base_restaurants.yaml
  official/projects/fffner/fffner.py
  official/projects/fffner/fffner_classifier.py
  official/projects/fffner/fffner_dataloader.py
  official/projects/fffner/fffner_encoder.py
  official/projects/fffner/fffner_encoder_test.py
  official/projects/fffner/fffner_experiments.py
  official/projects/fffner/fffner_prediction.py
  official/projects/fffner/train.py
  official/projects/fffner/utils/convert_checkpoint_huggingface.py
  official/projects/fffner/utils/convert_checkpoint_tensorflow.py
  official/projects/fffner/utils/create_data.py
Labels: models:official

#10839 Dataset creation code for FFF-NER
  official/projects/fffner/utils/create_data.py
Labels: ready to pull
