Repository tensorflow/models, changes with the owners that CODEOWNERS names for each.
All owners: @dave-andersen, @rsepassi, @AlexeyKurakin, @alexgorban, @plakal, @dpwe, @snurkabill, @s-gupta, @nmjohn, @panyx0718, @bousmalis, @ddohan, @cshallue, @shlens, @vincentvanhoucke, @lukaszkaiser, @ofirnachum, @jazcollins, @susillo, @oriolvinyals, @knathanieltucker, @arvind2505, @jch1, @tombstone, @derekjchow, @jesu9, @dreamdragon, @xcyan, @arkanath, @hellojas, @honglaklee, @laurent-dinh, @gjtucker, @sguada, @nathansilberman, @theraysmith, @waterson, @calberti, @andorardo, @peterjliu, @daviddao, @zffchen78, @a-dai, @sherrym, @ebrevdo, @cbfinn

CODEOWNERS:

adversarial_crypto/* @dave-andersen
adversarial_text/* @rsepassi
adv_imagenet_models/* @AlexeyKurakin
attention_ocr/* @alexgorban
audioset/* @plakal @dpwe
autoencoders/* @snurkabill
cognitive_mapping_and_planning/* @s-gupta
compression/* @nmjohn
differential_privacy/* @panyx0718
domain_adaptation/* @bousmalis @ddohan
im2txt/* @cshallue
inception/* @shlens @vincentvanhoucke
learning_to_remember_rare_events/* @lukaszkaiser @ofirnachum
lfads/* @jazcollins @susillo
lm_1b/* @oriolvinyals @panyx0718
namignizer/* @knathanieltucker
neural_gpu/* @lukaszkaiser
neural_programmer/* @arvind2505
next_frame_prediction/* @panyx0718
object_detection/* @jch1 @tombstone @derekjchow @jesu9 @dreamdragon
pcl_rl/* @ofirnachum
ptn/* @xcyan @arkanath @hellojas @honglaklee
real_nvp/* @laurent-dinh
rebar/* @gjtucker
resnet/* @panyx0718
skip_thoughts/* @cshallue
slim/* @sguada @nathansilberman
street/* @theraysmith
swivel/* @waterson
syntaxnet/* @calberti @andorardo
textsum/* @panyx0718 @peterjliu
transformer/* @daviddao
tutorials/embedding/* @zffchen78 @a-dai
tutorials/image/* @sherrym @shlens
tutorials/rnn/* @lukaszkaiser @ebrevdo
video_prediction/* @cbfinn

remove idea
  inception/inception/.idea/compiler.xml
  inception/inception/.idea/copyright/profiles_settings.xml
  inception/inception/.idea/inception.iml
  inception/inception/.idea/misc.xml
  inception/inception/.idea/modules.xml
  inception/inception/.idea/vcs.xml
  inception/inception/.idea/workspace.xml
Owners: none

object detection from cam
  object_detection/cam-mon.py
Owners: @jch1, @tombstone, @derekjchow, @jesu9, @dreamdragon

reformat and polish output
  object_detection/cam-mon.py
Owners: @jch1, @tombstone, @derekjchow, @jesu9, @dreamdragon

print out high scoring labels
  object_detection/cam-mon.py
Owners: @jch1, @tombstone, @derekjchow, @jesu9, @dreamdragon

Finished test - eval split code
  gdxray/gdxray_to_tfrecords.py
Owners: none

Update slim/ (#2307)
  slim/export_inference_graph.py
  slim/nets/nets_factory_test.py
  slim/preprocessing/inception_preprocessing.py
  slim/scripts/export_mobilenet.sh
  slim/train_image_classifier.py
Owners: @sguada, @nathansilberman

Update slim/ (#2307)
  slim/export_inference_graph.py
  slim/nets/nets_factory_test.py
  slim/preprocessing/inception_preprocessing.py
  slim/scripts/export_mobilenet.sh
  slim/train_image_classifier.py
Owners: @sguada, @nathansilberman

Remove unused import in slim dataset script
  slim/datasets/build_imagenet_data.py
Owners: none

In #2276, auto_parallel(metagraph, model) try to import google3
  tutorials/rnn/ptb/util.py
Owners: none

In #2276, auto_parallel(metagraph, model) try to import google3
  tutorials/rnn/ptb/util.py
Owners: none

Print the number of bounding boxes in the dataset
  gdxray/gdxray_to_tfrecords.py
Owners: none

Added resnet filter
  .gitignore
  simple_defects/python/convolve.py
  simple_defects/python/images/C0001_0040.png
  simple_defects/python/images/C0001_0041.png
  simple_defects/python/model.py
  simple_defects/python/patch.py
  simple_defects/python/train.py
  sliding_window/python/deep.py
  sliding_window/python/resnet.py
  sliding_window/python/train.py
Owners: none

Update exporting_models.md
  object_detection/g3doc/exporting_models.md
Owners: none

fix exporting model doc for object detection
  object_detection/g3doc/exporting_models.md
Owners: none

fix exporting model doc for object detection
  object_detection/g3doc/exporting_models.md
Owners: none

Added configuration files
  models/faster_rcnn_inception.config
  models/faster_rcnn_resnet101.config
  models/rfcn_resnet101.config
  models/ssd_inception.config
  models/ssd_mobilenet.config
  simple_defects/python/plot.py
  simple_defects/python/x_defect.png
  simple_defects/python/x_nodefect.png
  sliding_window/python/train.py
Owners: none

Setup google cloud training
  commands.md
  gdxray/gdxray_to_tfrecords.py
  models/rcnn_resnet-101.conf
Owners: none

definite Tensor outside detection loop, change Tensor names
  object_detection/object_detection_tutorial.ipynb
Owners: @jch1, @tombstone, @derekjchow, @jesu9, @dreamdragon

definite Tensor outside detection loop, change Tensor names
  object_detection/object_detection_tutorial.ipynb
Owners: @jch1, @tombstone, @derekjchow, @jesu9, @dreamdragon

inception/README.md: fix book URL in markdown
  inception/README.md
Owners: @shlens, @vincentvanhoucke

Added working directory for yolo
  object_detection/yolo/README.md
Owners: none

Remove redundant: import matplotlib.pyplot as plt
  cognitive_mapping_and_planning/scripts/script_plot_trajectory.py
Owners: none

Renamed config files
  commands.md
  models/faster_rcnn_inception.conf
  models/faster_rcnn_resnet101.conf
  models/rcnn_resnet-101.conf
  models/rfcn_resnet101.conf
  models/ssd_inception.conf
  models/ssd_mobilenet.conf
Owners: none

Added notebook to plot loss
  .gitignore
  notebooks/data/run_faster_rcnn_resnet101.csv
  notebooks/data/run_faster_rcnn_vgg.csv
  notebooks/data/run_rfcn_resnet101.csv
  notebooks/data/run_ssd_resnet.csv
  notebooks/data/run_ssd_vgg.csv
  notebooks/images/training-loss.png
  notebooks/object_detection_tutorial.ipynb
  notebooks/plot.ipynb
  simple_defects/python/model.py
Owners: none

fix code documentation.
  object_detection/create_pet_tf_record.py
Owners: @jch1, @tombstone, @derekjchow, @jesu9, @dreamdragon

fix code documentation.
  object_detection/create_pet_tf_record.py
Owners: @jch1, @tombstone, @derekjchow, @jesu9, @dreamdragon

Added code for local object detection
  .gitignore
  commands.md
  models/local/faster_rcnn_inception.conf
  models/local/faster_rcnn_resnet101.conf
  models/local/rcnn_resnet-101.conf
  models/local/rfcn_resnet101.conf
  models/local/ssd_inception.conf
  models/local/ssd_mobilenet.conf
  object_detection/evaluator.py
Owners: @jch1, @tombstone, @derekjchow, @jesu9, @dreamdragon

Added timing code and accuracy values
  notebooks/data/accuracy vs data.csv
  object_detection/evaluator.py
Owners: @jch1, @tombstone, @derekjchow, @jesu9, @dreamdragon

Update .travis.yml
  .travis.yml
Owners: none

Suppress warnings about two-space indenting
  .travis.yml
Owners: none

Add option to configure max GPU memory fraction for training and evaluation in object_detection
  object_detection/eval_util.py
  object_detection/evaluator.py
  object_detection/protos/eval.proto
  object_detection/protos/train.proto
  object_detection/trainer.py
Owners: @jch1, @tombstone, @derekjchow, @jesu9, @dreamdragon

Add MSCOCO config templates.
  object_detection/samples/configs/faster_rcnn_inception_resnet_v2_atrous_coco.config
  object_detection/samples/configs/faster_rcnn_resnet101_coco.config
  object_detection/samples/configs/faster_rcnn_resnet152_coco.config
  object_detection/samples/configs/faster_rcnn_resnet50_coco.config
  object_detection/samples/configs/rfcn_resnet101_coco.config
  object_detection/samples/configs/ssd_inception_v2_coco.config
  object_detection/samples/configs/ssd_mobilenet_v1_coco.config
Owners: none

Add MSCOCO config templates.
  object_detection/samples/configs/faster_rcnn_inception_resnet_v2_atrous_coco.config
  object_detection/samples/configs/faster_rcnn_resnet101_coco.config
  object_detection/samples/configs/faster_rcnn_resnet152_coco.config
  object_detection/samples/configs/faster_rcnn_resnet50_coco.config
  object_detection/samples/configs/rfcn_resnet101_coco.config
  object_detection/samples/configs/ssd_inception_v2_coco.config
  object_detection/samples/configs/ssd_mobilenet_v1_coco.config
Owners: none

Fix incorrect SyncReplicasOptimizer usage
  tutorials/image/cifar10_estimator/cifar10_main.py
Owners: none

Fix incorrect SyncReplicasOptimizer usage
  tutorials/image/cifar10_estimator/cifar10_main.py
Owners: none

fix typo
  object_detection/g3doc/exporting_models.md
Owners: none

fix typo
  object_detection/g3doc/exporting_models.md
Owners: none

fix the wrong base path for running command
  object_detection/g3doc/exporting_models.md
Owners: none

pet training
  object_detection/.gitignore
  object_detection/NOTES.md
  object_detection/cam-mon.py
  object_detection/data/train.config
  object_detection/generate_tfrecord.py
  object_detection/prepare_training.py
  object_detection/scale_images.py
Owners: @jch1, @tombstone, @derekjchow, @jesu9, @dreamdragon

data_feed -> data_frame
  object_detection/generate_tfrecord.py
Owners: @jch1, @tombstone, @derekjchow, @jesu9, @dreamdragon
